.side-bar

    .side-bar__master-name  

        .top-items

            %h3.top-items__name 
                = current_user.name

            %ul.top-items__icons
                %li.icons
                    = link_to new_group_path do
                        = icon('far', 'edit',class: "icon")
                %li.icons 
                    = link_to edit_user_path(current_user)do
                        = icon('fas', 'cog',class: "icon")
    
    .side-bar__group-list
        %p.group-list__group-name tech-camp
        %p.group-list__new-message まだメッセージがありません

        %p.group-list__group-name tech-camp
        %p.group-list__new-message まだメッセージがありません

        %p.group-list__group-name tech-camp
        %p.group-list__new-message まだメッセージがありません